# Markdown Basics
## Markdown Basics
###  Markdown Basics
####  Markdown Basics
####  Markdown Basics
#####  Markdown Basics

* **Point1** (Bold)
* *Point2* (Itallic)
* ***Point3*** (Bold and Itallic)

* Normal Text
    *Sublist 1
    *Sublist 2

> 1. Point1
> 2. Point2

* ***Adding links to Markdowm***

* Google SIte --[1]: http://www.google.com
* msn         --[2]: http://www.msn.com
 
- []Option1
* Google Site -- [Google][1]
[1]: http://www.google.com

### Python Basics
* Python verson 3.7
* Functional Programming
* Object oriented Programming
* Scripting Programming

In [11]:
print("Hello Gitam")
print("Hyderabad")

Hello Gitam
Hyderabad

In [1]:
print("Hello Gitam")

Hello Gitam

In [3]:
print("Hello,gitam",end="|||")
print("Hyderabad",end="|||")
print("Python Programming")

Hello,gitam|||Hyderabad|||Python Programming

In [4]:
n1 = 100 # single variable assignment
a = b = c = 20 # Multi Variable Assignment of the same value
a1,b1,c1 = 111,222,333 # Multi Varible Assignment with 
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [8]:
a = 100;
s1 = "python"
s2 = "p"
f1 = "3.3"
print(a);
print(s1);
print(s2);
print(f1);
print(type(a));
print(type(s1));
print(type(s2));
print(type(f1));

100
python
p
3.3
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>

In [7]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [9]:
# A number is given 1234
# Digit count
a1 = 1234
print(len(str(a1)))

4

In [10]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameAnush Goud
Anush Goud
<class 'str'>

# Relation Operation
- ==
- !=
- Greater(>)
- Less than(<)
- Less than or equal to(<=)
- Great>=